*{
font-family: "poppins", sans-serif;

}

body {
    background-image: url("back.jpg");
    background-size: 100%;
}

.row {
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.card .card-title {
    text-align: center;
}

.nav-pills {
    justify-content: center;
    align-items: center;
}

.tab-content {
    text-align: center;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
}

.nav-item {
    color: aqua;
    font-size: 16px;
}

.nav-item {
    color: aqua;
    font-size: 16px;
}

.title {
    text-align: center;
}

table {
    text-align: center;
}